<section class="wo-board">
  <div class="wo-grid">
    <div class="wo-left">
      <div class="wo-left-header">Work Center</div>
      <div class="wo-left-row" *ngFor="let wc of workCenters">
        {{ wc.data.name }}
      </div>
    </div>

    <div class="wo-right">
      <div class="wo-right-header">
        <div class="wo-timescale" [style.gridTemplateColumns]="gridTemplateColumns">
          <div class="wo-time-cell" *ngFor="let cell of timelineHeader">
            {{ cell }}
          </div>
        </div>
        <div
          class="wo-current-period-header"
          *ngIf="hasCurrentPeriod"
          [style.gridTemplateColumns]="gridTemplateColumns"
          aria-hidden="true"
        >
          <div class="wo-current-period-label" [style.gridColumn]="currentPeriodGridColumn">
            <span>Current month</span>
          </div>
        </div>
      </div>

      <div
        class="wo-current-period-line"
        *ngIf="hasCurrentPeriod"
        [style.gridTemplateColumns]="gridTemplateColumns"
        aria-hidden="true"
      >
        <div class="wo-current-period-line-cell" [style.gridColumn]="currentPeriodGridColumn"></div>
      </div>

      <div
        class="wo-right-row"
        *ngFor="let wc of workCenters"
        [class.wo-right-row-open]="isActionRowOpen(wc.docId)"
      >
        <div class="wo-row-grid" [style.gridTemplateColumns]="gridTemplateColumns">
          <div
            class="wo-time-cell"
            *ngFor="let date of timelineDates"
            (click)="onTimelineCellClick(wc.docId, date, $event)"
          >
            <span class="wo-add-tooltip">Click to add dates</span>
          </div>
        </div>
        <div class="wo-row-overlay" [style.gridTemplateColumns]="gridTemplateColumns">
          <div
            class="wo-bar"
            *ngFor="let order of getWorkOrdersForCenter(wc.docId)"
            [style.gridColumn]="getGridColumn(order)"
            [attr.data-status]="order.data.status"
            [class.wo-bar-open]="openedActionOrderId === order.docId"
            (click)="$event.stopPropagation()"
          >
            <span class="wo-bar-title">{{ order.data.name }}</span>
            <span class="wo-bar-meta">
              <span class="wo-bar-status" [attr.data-status]="order.data.status">
                {{ order.data.status }}
              </span>
              <ng-select
                class="wo-bar-actions"
                [items]="actionOptions"
                bindLabel="label"
                bindValue="value"
                [clearable]="false"
                [searchable]="false"
                [ngModel]="getSelectedAction(order.docId)"
                [ngModelOptions]="{ standalone: true }"
                (open)="onActionOpen(order.docId, wc.docId)"
                (close)="onActionClose(order.docId, wc.docId)"
                (change)="onActionChange(order, $event)"
                (click)="$event.stopPropagation()"
                placeholder="⋯"
              >
                <ng-template ng-option-tmp let-item="item">
                  <span
                    class="wo-action-option"
                    [class.wo-action-option-delete]="item.value === 'delete'"
                  >
                    {{ item.label }}
                  </span>
                </ng-template>
              </ng-select>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
