<section class="wo-board">
  <div class="wo-grid">
    <div class="wo-left">
      <div class="wo-left-header">Work Center</div>
      <div class="wo-left-row" *ngFor="let wc of workCenters">
        {{ wc.data.name }}
      </div>
    </div>

    <div class="wo-right">
      <div class="wo-right-header">
        <div class="wo-timescale" [style.gridTemplateColumns]="gridTemplateColumns">
          <div class="wo-time-cell" *ngFor="let cell of timelineHeader">
            {{ cell }}
          </div>
        </div>
        <div class="wo-today-indicator" aria-hidden="true"></div>
      </div>

      <div class="wo-right-row" *ngFor="let wc of workCenters">
        <div class="wo-row-grid" [style.gridTemplateColumns]="gridTemplateColumns">
          <div class="wo-time-cell" *ngFor="let cell of timelineHeader"></div>
        </div>
        <div class="wo-row-overlay" [style.gridTemplateColumns]="gridTemplateColumns">
          <div
            class="wo-bar"
            *ngFor="let order of getWorkOrdersForCenter(wc.docId)"
            [style.gridColumn]="getGridColumn(order)"
          >
            <span class="wo-bar-title">{{ order.data.name }}</span>
            <span class="wo-bar-status" [attr.data-status]="order.data.status">
              {{ order.data.status }}
            </span>
            <button class="wo-bar-menu" type="button" aria-label="Work order actions">
              ⋯
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
